

body{
        font-family: 'Lora', serif;

 background: linear-gradient(135deg, #F4F1EE, #D9CAB3);
      color: #3E3A36;
}
h1, h3 {
    font-family: 'Merriweather', serif;
    text-align: center;
}
h2{
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 16px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  padding: 20px 20px;
    gap: 15px;
}

.button {
  background-color: #D98C68;
  border: none;
  color: #FFF8E7;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
    border-radius: 8px;
     font-family: 'Merriweather', serif;

        transition: background-color 0.3s, transform 0.2s;

}

.button:hover {
  background-color: #B55A30;
  color: #FFF8E7;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}

#submitButton {
    display: none;
    justify-content: center;
  align-items: center;
    margin-bottom: 50px;
    margin-left: 150px;
}

#form-container {
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #ccc;
    align-items: center;
    margin: 0 auto;
}

.json-container {
  background-color: #FFF8E7;
  color: #3E3A36;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  font-family: 'Lora', serif;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 14px;
}